@font-face {
  font-family: "Zig";
  src: url("/fonts/zig.regular.ttf");
}

body {
  background: black;
  color: #0f0;
  font-family: "Zig";
}

hr {
  border: solid 1px #0a0;
}

/* basic layout style */

div {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 15px 20px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

.middle-container {
  display: flex !important;
  flex-direction: row;
  flex: 1 1 auto;
  max-height: 100%;
  height: 100%;
  border-color: #0f0;
  border-top: dotted;
  border-bottom: dotted;
  border-width: 0.5px;
  padding-top: 10px;
}

.page-top {
  padding: 10px 0;
  max-height: 20%;
}


.menu-bar {
  width: 30%;
  padding-right: 5px;
}

.content {
  max-width: 70%;
}

/* links and... stuff */

a {
  color: #0a0;
  text-decoration: none;
}

/* eliminamos el outline feo */
a:hover, a:active, a:focus {
  outline:0px !important;
  -webkit-appearance:none;
  text-decoration: none;
  color: #0f0;
}

a:hover::after, a:active::after, a:focus::after {
  content: " ◀";
  text-decoration: none !important;
}


input[type="checkbox"] {
  display: none;
}

label::after {
  content: " ▽";
}

input[type="checkbox"]:checked + label::after {
  content: " △";
}

input[type="checkbox"] ~ ul {
  visibility: hidden;
  height: 0;
}

input[type="checkbox"]:checked ~ ul {
  visibility: visible !important;
  height: 100%;
}